.remote-joueur-container {
  background-image: url('../../../assets/background/background-compet.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  .joueur,
  .question,
  .warning {
    width: 80%;
  }

  .warning {
    background-color: red;
  }

  .reponse-list {
    width: 100%;
    flex: 0.5;
    .choix-reponse {
      width: 60%;
      margin-left: 20%;
      margin-bottom: 10vh;

      cursor: pointer;
    }

    .reponse-selected {
      border-color: orange;
    }

    .reponse-not-selected,
    .reponse-envoyee,
    .votes-frozen {
      opacity: 0.5;
    }

    .reponse-selected,
    .reponse-not-selected,
    .reponse-envoyee,
    .votes-frozen {
      cursor: default;
    }
  }

  .reponse-cash-container {
    display: flex;
    flex-direction: column;
    button,
    .reponse-cash-edit {
      width: 80%;
      margin-left: 10%;
    }
    button {
      margin-top: 10%;
    }
  }

  @media (max-width: 768px) {
    .champ {
      border-width: 0.3rem;
    }

    .question {
      font-size: 1.5rem;
    }

    .reponse-list {
      .choix-reponse {
        font-size: 1.2rem;
      }
    }

    .reponse-cash-container {
      button,
      .reponse-cash-edit {
        font-size: 1.2rem;
      }
    }
  }
}
