<div class="remote-joueur-container">
  <div class="champ joueur">Vous êtes {{ joueur }}</div>
  @if (showQuestion()) {
    <div class="champ question">{{ question() }}</div>
  }
  @if (showReponses()) {
    <div class="reponse-list">
      @if (reponsesDisplay().length < 2) {
        <div class="reponse-cash-container">
          <input class="champ reponse-cash-edit" [(ngModel)]="reponseCashJoueur" />
          <button
            class="btn btn-primary champ"
            (click)="envoyerReponse()"
            [class.reponse-envoyee]="reponseAEnvoyer() !== ''"
            [class.votes-frozen]="votesFrozen()"
          >
            {{ reponseAEnvoyer() ? 'Réponse envoyée' : 'Valider réponse' }}
          </button>
        </div>
      } @else {
        @for (reponse of reponsesDisplay(); track reponse) {
          <div
            class="choix-reponse champ"
            [class.reponse-selected]="reponseAEnvoyer() && reponse === reponseAEnvoyer()"
            [class.reponse-not-selected]="reponseAEnvoyer() && reponse !== reponseAEnvoyer()"
            [class.votes-frozen]="votesFrozen() && !reponseAEnvoyer()"
            (click)="envoyerReponse(reponse)"
          >
            {{ reponse }}
          </div>
        }
      }
    </div>
  }
  @if (votesFrozen() && !reponseAEnvoyer()) {
    <div class="champ warning">Trop tard !</div>
  }
</div>
